* body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #4877fb;
  height: 100vh;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navigacija */

.navigation {
  flex-basis: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #4877fb;
  align-items: baseline;
}
.navbar {
  overflow: hidden;
  background-color: #4877fb;
  display: flex;
  flex-direction: row;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #9cc3d5ff;
  text-decoration: underline;
  display: block;
}

.navigation h1 {
  color: white;
}

/* Title-conteiner */

.title-conteiner {
  background-color: #4877fb;
  flex-basis: 150px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-conteiner img {
  height: 300px;
  width: 400px;
}

.tekst {
  color: white;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.tekst h1 {
  font-size: 50px;
  display: flex;
  align-items: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tekst a {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 50px;
}
.tekst p {
  margin-top: 10px;
  color: #9cc3d5ff;
}

.tekst a:hover {
  background-color: #9cc3d5ff;
  display: inline;
  border-radius: 25px;
}

/* Bottom-conteiner */
.bottom-conteiner {
  background-color: #4877fb;
  flex-basis: 150px;
}

/* Footer */

.footer {
  background-color: #4877fb;
  height: 37vh;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.kartica1 {
  background-color: white;
  width: 25%;
  margin-right: 5px;
  padding-left: 30px;
  padding-right: 27px;
}
.kartica2 {
  background-color: white;
  width: 25%;
  margin-right: 5px;
  padding-left: 30px;
  padding-right: 27px;
}
.kartica3 {
  background-color: white;
  width: 25%;
  margin-right: 5px;
  padding-left: 30px;
  padding-right: 27px;
}
.kartica4 {
  background-color: white;
  width: 25%;
  padding-left: 30px;
  padding-right: 27px;
}

.ikonica {
  height: 40px;
  width: 40px;
  padding-top: 30px;
}
.right-arrow {
  height: 20px;
  width: 20px;
  background-color: #a6a8ab;
  border-radius: 50px;
  padding: 10px;
  margin-top: 15px;
}
.footer p {
  color: #a6a8ab;
  font-size: 15px;
}

.footer h3 {
  margin-bottom: 12px;
}
